/* Products-Panel-Start */
.productspanel-component {
  flex: 0px 50 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* NewProduct-Component-Start */
.newproduct-component {
  flex: 180px 0 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(255,255,255,0.4);
}

.newproduct-component .title{
  flex:25px 0 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.newproduct-component .addproduct-form{
  display: flex;
  height: 100%
}
.newproduct-component .column{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.productname-input {
  flex: 40px 0 0;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 8px;
}
.price-input {
  flex: 40px 0 0;
  margin-right: 30px;
  padding: 8px;
}
.stock-input {
  flex: 40px 0 0;
  margin-bottom: 10px;
  padding: 8px;
}
.addproduct-button {
  padding: 8px;
  font-weight:500;
  flex: 40px 0 0;
  height: 100%;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--color-2);
  border: none;
  color: white;
  cursor: pointer;
}
.addproduct-button:hover, .addproduct-button:focus-visible{
  background-color: var(--hover-color);
}
.addproduct-button:active{
  background-color: var(--active-color);
}

/* NewProduct-Component-End */

/* ProductList-Component-Start */
.productlist-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: rgba(255,255,255,0.4);
  margin-top: 1px;
  text-align: center;
}
.productlist-component .title{
  flex: 30px 0 0;
  padding: 15px 0px 10px;
  line-height: 36px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.productlist-component ul{
  list-style: none;
  overflow-y: overlay;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
@supports not (overflow:overlay) {
  .productlist-component ul{
    overflow:auto;
  } 
}
.productlist-component li{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.productlist-component .title *{
  font-weight: 500;
  flex:1;
}
.productlist-component li:nth-child(odd) {
  background-color: rgba(255,255,255,0.3);
}
.productlist-component li:nth-child(even) {
  background-color: rgba(255,255,255,0.1);
}
.productlist-component li p:nth-child(1){
  display: inline-block;
}
.productlist-component li p:nth-child(2){
  display: inline-block;
}

/* ProductListItem-Component-Start*/
.productlistitem-component {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productlistitem-component *{
  flex: 1;
}

.productlistitem-component .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productlistitem-component .addtocart-button{
  border: none;
  outline: none;
  flex: 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: default;
  fill: #aaa;
}

.addtocart-button.active {
  fill: #4b7bec;
  cursor: pointer;
}
.addtocart-button.active:hover svg {
  fill: var(--hover-color)
}
.addtocart-button.active:active svg {
  fill: var(--active-color)
}
/* ProductListItem-Component-End*/
/* ProductList-Component-End */
/* Products-Panel-End */

@media screen and (max-width:1024px) {
  .productspanel-component {
    margin: 0 0 30px;
    min-height: 50vh;
  }
}