/* Variables */
:root {
  --color-1: #d5e0fb;
  --color-2: #4b7bec;
  --hover-color: #1d59e7;
  --active-color: #799df1;
}

/* General Styles */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, var(--color-1) 0%, var(--color-2) 100%);
}

input, select {
  border: 1px solid var(--color-2);
  border-radius: 5px;
}

input:focus-visible, select:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--color-2);
}

select {
  background-image: url(./icons/expand.svg);
  background-position: right 8px center;
  background-size: 24px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

span.val {
  color: #1d59e7
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(75,123,236,1); 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(180,180,180); 
}
/* Scrollbar */
/* General Styles */

/* Component Styles */
.app {
  max-width: 1300px;
  width: 90%;
  height: 80vh;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.users-panel {
  flex: 0px 30 0;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
}

.transfers-panel {
  flex: 0px 70 0;
  display: flex;
  flex-direction: column;
}

/* NewUser-Component-Start */
.newuser-component {
  flex: 180px 0 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(255,255,255,0.4);
}
.newuser-component .title{
  flex:25px 0 0;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
}
.newuser-component .adduser-form{
  display: flex;
  flex-direction: row;
}
.newuser-component .inputs-container{
  flex: 80;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}
.newuser-component input{
  flex: 40px 0 0;
  font-size: 15px;
  padding: 8px;
}
.username-input {
  margin-bottom: 10px;
}
.newuser-component .button-container{
  flex: 20;
}
.adduser-button {
  height: 100%;
  width: 80px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--color-2);
  border: none;
  color: white;
  cursor: pointer;
}
.adduser-button:hover, .adduser-button:focus-visible{
  background-color: var(--hover-color);
}
.adduser-button:active{
  background-color: var(--active-color);
}
/* NewUser-Component-End */

/* UserList-Component-Start */
.userlist-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  background-color: rgba(255,255,255,0.4);
  margin-top: 1px;
}
.userlist-component .title{
  flex: 30px 0 0;
  padding: 20px 40px 15px 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.userlist-component ul{
  list-style: none;
}
.userlist-component li{
  padding: 0 10px 0 30px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.userlist-component .title *{
  font-weight: 500;
}
.userlist-component li:nth-child(odd) {
  background-color: rgba(255,255,255,0.3);
}
.userlist-component li p:nth-child(1){
  display: inline-block;
  padding-right: 10px
}
.userlist-component li p:nth-child(2){
  display: inline-block;
  padding-left: 10px
}

/* UserListItem-Component-Start*/
.userlistitem-component {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.username {
  margin-right: auto;
}

.userlistitem-component .removeuser-button{
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.removeuser-button:hover svg {
  fill: var(--hover-color)
}

.removeuser-button:active svg {
  fill: var(--active-color)
}
/* UserListItem-Component-End*/
/* UserList-Component-End */

/* NewTransfer-Component-Start */
.newtransfer-component{
  flex: 180px 0 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(255,255,255,0.4);
}
.newtransfer-component .title{
  flex:25px 0 0;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
}
.newtransfer-component .newtransfer-form{
  display: flex;
  height: 100%
}
.newtransfer-component .column{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sendfrom-input {
  flex: 40px 0 0;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 8px;
}
.sendto-input {
  flex: 40px 0 0;
  margin-right: 30px;
  padding: 8px;
}
.amount-input {
  flex: 40px 0 0;
  margin-bottom: 10px;
  padding: 8px;
}
.send-button {
  padding: 8px;
  font-weight:500;
  flex: 40px 0 0;
  height: 100%;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--color-2);
  border: none;
  color: white;
  cursor: pointer;
}
.send-button:hover, .send-button:focus-visible{
  background-color: var(--hover-color);
}
.send-button:active{
  background-color: var(--active-color);
}
/* NewTransfer-Component-End */

/* HistoryLogs-Component-Start */
.historylogs-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  background-color: rgba(255,255,255,0.4);
  margin-top: 1px;
}
.historylogs-component .title{
  flex: 30px 0 0;
  padding: 20px 30px 15px;
  font-weight: 500;
}

.historylogs-component li {
  padding: 0 40px 0 30px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.historylogs-component li:nth-child(odd) {
  background-color: rgba(255,255,255,0.3);
}
.historylogs-component li p:nth-child(1){
  margin-right: auto
}
/* HistoryLogs-Component-End */

/* Log-component-Start */
.log-component {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.undo-button {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  fill: #aaa;
  cursor: default;
}

.undo-button.active {
  fill: #4b7bec;
  cursor: pointer;
}

.undo-button.active:hover svg {
  fill: var(--hover-color)
}

.undo-button.active:active svg {
  fill: var(--active-color)
}
/* Log-component-End */